[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
alembic = "*"
requests = "*"
flask = "*"
flask-cors = "*"
sqlalchemy = "*"
uvicorn = "*"
passlib = "*"
psycopg2-binary = "*"
bcrypt = "*"
pyjwt = "*"
pydantic-settings = "*"
flasgger = "*"
pandas = "*"
scikit-learn = "*"
pyarrow = "*"
fastparquet = "*"
torch = {index = "pytorch"}
transformers = "*"
numpy = "<2"

[dev-packages]

[requires]
python_version = "3.12"
