[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch"

[packages]
alembic = "*"
requests = "*"
flask = "*"
flask-cors = "*"
sqlalchemy = "*"
gunicorn = "*"
passlib = "*"
psycopg2-binary = "*"
bcrypt = "*"
pyjwt = "*"
pydantic-settings = "*"
pydantic = "*"
email-validator = "*"
flasgger = "*"
google-generativeai = "*"
algoliasearch = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"
